$primary-colour: rgb(145, 193, 255);
$secondary-colour: rgb(207, 207, 207);
$tertiary-colour: rgb(177, 253, 132);
$primary-link-colour: rgb(114, 114, 114);
$primary-colour-odin: #cc9543;
$primary-colour-odin-2: #cfa76b;
$text-colour-odin-1: rgb(148, 148, 148);
$text-colour-odin-2: rgb(77, 77, 77);
$odin-primary-button-1: #6abfc3;
