// CONTAINER GRID
//grid system //
$grid-columns: 12;

.container-grid {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	column-gap: 20px;
	margin: 0 auto;
}
.h600 {
	height: 600px;
}
.row-6 {
	grid-template-rows: repeat(6, minmax(0, 1fr));
	row-gap: 10px;
}
@for $i from 1 through $grid-columns {
	.grid-column-#{$i} {
		grid-column: span $i;
		background: rgb(252, 157, 157);
		border: 1px solid rgb(255, 43, 43);
		text-align: center;
		@include rounded-corners;
	}
}

@media (min-width: 1200px) {
	@for $i from 1 through $grid-columns {
		.grid-column-lg-#{$i} {
			grid-column: span $i;
		}
	}
}

@media (min-width: 992px) and (max-width: 1199.99px) {
	@for $i from 1 through $grid-columns {
		.grid-column-md-#{$i} {
			grid-column: span $i;
		}
	}
}

@media (max-width: 991.99px) {
	@for $i from 1 through $grid-columns {
		.grid-column-sm-#{$i} {
			grid-column: span $i;
		}
	}
}
