@import "framework";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Open Sans", Helvetica, sans-serif;
}

body {
	background: whitesmoke;
}

#content {
	background: rgb(253, 225, 225);
	height: 100vh;
	width: 100vw;
}

header {
	@include header;
	height: 120px;
	padding-top: 60px;
	margin: 0px auto 60px auto;
}

#search-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 60px;
	border: 1px solid rgba(24, 24, 24, 0.7);
	box-shadow: none;
	/* padding: 50px 0px 50x 0px; */
	border-radius: 24px;
	padding: 0px 12px;
	margin: 0 auto;
	input {
		height: 80%;
		padding: 16px 6px;
		font-size: 24px;
		background: transparent;
		border: transparent;
	}
	input:focus {
		outline: transparent;
	}
	#search-icon {
		color: #9aa0a6;
		height: 25px;
		width: 25px;
		cursor: pointer;
	}
}
#search-container:hover {
	box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
	// border-color: rgba(223, 225, 229, 0);
	border: 1px solid rgba(24, 24, 24, 0.7);
}
.weather-master {
	@include flex-row;
	width: 80%;
	max-width: 920px;
	margin: 40px auto;
}
.weather-master-left {
	@include flex-column;
}
.current-weather-container-card {
	@include rounded-corners;
	@include flex-row;
	background: rgba(32, 33, 36, 0.28);
	height: 340px;
	// width: 100%;
	max-width: 720px;
	justify-content: space-evenly;
	padding: 40px 20px;
	// margin: 60px auto 30px auto;
	// position: relative;
	// left: -160px;
	.current-weather-info {
		@include flex-column;
		justify-content: space-between;
	}
	.current-time {
		position: relative;
		top: -10px;
	}
	.current-weather-description {
		font-size: 34px;
		font-weight: 400;
	}
	.current-weather-location {
		font-size: 30px;
		font-weight: 600;
	}
	.current-weather-temp {
		font-size: 52px;
		font-weight: 600;
	}
	.current-weather-icon {
		padding-top: 46px;
	}
	span {
		text-transform: uppercase;
		color: whitesmoke;
		font-size: 24px;
	}
	sup {
		font-size: 10px;
	}
}
.multiday-container {
	@include flex-row;
	@include rounded-corners;
	background: rgba(32, 33, 36, 0.28);
	// width: 100%;
	max-width: 720px;
	height: 160px;
	margin: 40px auto 20px auto;
	padding: 7px;
	justify-content: space-between;
	// position: relative;
	// left: -160px;
	.day-card {
		@include flex-column;
		height: 100%;
		width: 14%;
		min-width: 120px;
		padding: 6px;
		justify-content: space-evenly;
		align-items: center;
		span {
			text-transform: uppercase;
			color: whitesmoke;
			font-size: 24px;
		}
		.multiday-day {
			font-weight: 600;
		}
		.multiday-temp {
			// font-weight: 600;
		}
		.multiday-night-temp {
			font-size: 18px;
		}
	}
}

.current-weather-sidebar {
	@include rounded-corners;
	@include flex-column;

	width: 300px;
	height: 540px;
	padding: 10px;
	margin: 0 0 0 40px;
	background: rgba(32, 33, 36, 0.28);
	.sidebar-card {
		@include flex-row;
		width: 100%;
		height: 120px;
		padding: 0 20px;
		align-items: center;
		.sidebar-card-icon {
			height: 60px;
			color: #f5f5f5;
		}
		.sidebar-card-info {
			@include flex-column;
			justify-content: center;
			align-items: center;
			height: 100%;
			margin-left: 16px;
			span {
				color: whitesmoke;
				font-weight: 600;
				text-transform: uppercase;
			}
			.sidebar-card-info-1 {
				margin-bottom: 4px;
			}
			.sidebar-card-info-2 {
				font-size: 28px;
			}
		}
	}
}
